@import url('https://fonts.googleapis.com/css?family=Poppins|Didact+Gothic&display=swap');

$purple-color: rgb(94, 60, 214);
$aqua-color: rgb(47, 196, 216);
$black-color: black;
$white-color: white;
$charcoal-color: rgb(68, 64, 64);
$orange-color: rgb(255, 94, 0);
$background-color: white;

$button-font: 'Poppins', sans-serif;
$main-font: 'Didact Gothic', sans-serif;

$button-radius: 5px;
$border-radius: 10px;

$phone-breakpoint: 576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$large-desktop-breakpoint: 1200px; 

$section-padding-bottom: 50px;

section {
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}

@mixin orangeButton {
    font-family: $button-font;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    border-radius: $button-radius;
    border-style: solid;
    padding: 14px;
    transition: 0.4s;

    @media screen and (min-width: $desktop-breakpoint) {
        padding: 20px;
    
    }

    @media screen and (max-width: $desktop-breakpoint) {
        width: 145px;
    
    }
}

@mixin orangeButtonWhiteBack {
    @include orangeButton;

    color: $white-color;
    border-color: $white-color;
    background-color: $orange-color;

    &:hover {
        background-color: $black-color;
    }
}

@mixin orangeButtonBlackBack {
    @include orangeButton;

    color: $black-color;
    border-color: $black-color;
    background-color: $white-color;

    &:hover {
        color: $white-color;
        border-color: $white-color;
        background-color: $orange-color;
    }
}

@mixin frame {
    margin: auto;
    padding: 10px;
    
    @media screen and (min-width: $desktop-breakpoint) {
        max-width: $desktop-breakpoint;
    
    }
}

h1 {
    color: $black-color;
    background-color: $white-color;

    @media screen and (min-width: $desktop-breakpoint) {
        max-width: none;
    
    }
}

h1, h2, h3, h4 {
    @include frame;

    padding-top: 20px;
    padding-bottom: 20px;
    font-family: $main-font;

}

h1, h2 {
    text-align: center;
}

p {
    font-family: $main-font;
    text-align: justify;
    font-size: 20px;

    @include frame;
}


//header, sub-header and paragraph fonts + styling