@import '../styles/general-styling.scss';

.container {
    color: $white-color;
    background-color: $black-color;
}

.appFormContainer {
    max-width: $desktop-breakpoint;
    margin: auto;
    padding: 15px;
}

legend {
    font-size: 30px;
    font-weight: bold;
}

fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: $main-font;

    field {
        width: 350px;
        text-align: left;
        margin: 20px;
    }

    input {
        width: 350px;
    }
}


.submitButton {
    @include orangeButtonWhiteBack;
    margin: 20px;
}