@import '../styles/general-styling.scss';

.navbar {

    @media screen and (max-width: $nav-width) {
        display: none;
    }
    
    @include navStyling;

}

.navbar-open {
    @media screen and (max-width: $nav-width) {
        display: block;
        position: absolute;
        background-color: $purple-color;
        margin: 0;
        z-index: 2;
        height: auto;
        padding-bottom: 20px;
    }
    
    @include navStyling;
    
}



